<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="portable46-net451+win81" />
  <package id="Autofac" version="4.6.2" targetFramework="portable46-net451+win81" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.AppCenter" version="1.13.0" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.13.0" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.13.0" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.NETCore.Targets" version="2.1.0-preview1-26216-02" targetFramework="portable46-net451+win81" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="portable46-net451+win81" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Plugin.InAppBilling" version="1.2.4" targetFramework="portable46-net451+win81" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="portable46-net451+win81" />
  <package id="Polly" version="6.1.2" targetFramework="portable46-net451+win81" />
  <package id="Prism.Autofac.Forms" version="7.0.0.396" targetFramework="portable46-net451+win81" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="portable46-net451+win81" />
  <package id="Prism.Forms" version="7.0.0.396" targetFramework="portable46-net451+win81" />
  <package id="Rg.Plugins.Popup" version="1.1.5.180" targetFramework="portable46-net451+win81" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="SegmentedControl.FormsPlugin" version="2.0.1" targetFramework="portable46-net451+win81" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="portable46-net451+win81" />
  <package id="SkiaSharp.Views.Forms" version="1.60.0" targetFramework="portable46-net451+win81" />
  <package id="Splat" version="2.0.0" targetFramework="portable46-net451+win81" />
  <package id="SQLiteNetExtensions" version="2.0.0" targetFramework="portable46-net451+win81" />
  <package id="SQLiteNetExtensions.Async" version="2.0.0" targetFramework="portable46-net451+win81" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Licensing" version="16.2.0.50" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.Core" version="16.2.0.46" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.2.0.46" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.2.0.46" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="16.2.0.42" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfChart" version="16.1.0.26" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfGauge" version="16.1.0.26" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.2.0.46" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh" version="16.2.0.42" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfRating" version="16.2.0.46" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfTabView" version="16.2.0.50" targetFramework="portable46-net451+win81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.IO" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="portable46-net451+win81" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="portable46-net451+win81" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugin.Connectivity" version="3.1.1.189-beta" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugin.DeviceInfo" version="4.0.0.13" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugin.Geolocator" version="4.5.0.6" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.FFImageLoading" version="2.4.1.823" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.1.823" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.1.823" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms" version="5.0.0.2515" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms.GoogleMaps" version="2.3.0" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms.GoogleMaps.Bindings" version="2.2.0" targetFramework="portable46-net451+win81" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="portable46-net451+win81" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="portable46-net451+win81" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="portable46-net451+win81" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="portable46-net451+win81" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="portable46-net451+win81" />
  <package id="XLabs.Serialization.JSON" version="2.0.5782" targetFramework="portable46-net451+win81" />
</packages>